<h1> Home </h1>
<%= icon('fa-brands', 'font-awesome')%>
<%= icon('fa-solid', 'user-secret')%>
<%= icon('fa-regular', 'bell')%>
<div>
  <i class="fa-brands fa-font-awesome"></i>
  <i class="fa-solid fa-user-secret"></i>
  <i class="fa-regular fa-bell"></i>
</div>